/* header.component.css */

header {
  background-color: #333;
  padding: 10px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
}
nav a:hover{
  color: greenyellow;
}
@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
  }

  nav a {
    margin: 5px 0;
  }
}
