<!-- inner-section.component.html -->

<div class="innerMain">
  <div class="experience-heading">
  <h2>My Experience</h2>
  <p>Explore my journey and expertise</p>
</div>

  <div class="experience">
    <p>Experience :</p>
  </div>
  <table>
    <thead>
      <tr>
        <th>Company Name</th>
        <th>Started From</th>
        <th>Till Year</th>
        <th>Position</th>
      </tr>
    </thead>
    <tbody>
      <!-- Add your data rows here -->
      <tr>
        <td>Tata Consultancy Services</td>
        <td>January 2021</td>
        <td>December 2022</td>
        <td>Web Developer</td>
      </tr>
      <tr>
        <td>Bajaj Finserv Direct Limited</td>
        <td>December 2022</td>
        <td>Currently Working</td>
        <td>Web Developer</td>
      </tr>
      <!-- Add more rows as needed -->
    </tbody>
  </table>
<!--Projects section-->
   <div class="projects">
    <h2>Projects:</h2>
    <div class="project">
      <h3>Project 1</h3>
      <h3>Portfolio Website using Angular Designed and developed a dynamic portfolio website using Angular,
        showcasing my professional journey, skills, and achievements. The website features a modern and intuitive
         user interface, with dedicated sections for my experience, skills, certifications, and contact information.
        The home page welcomes visitors with a visually appealing layout and seamless navigation.</h3>
      <p>Key Features:</p>
      <p>
          Experience: A detailed presentation of my work history, roles, and responsibilities.
          Skills: Highlighting my proficiency in key technologies and soft skills.
          Certifications: Displaying my relevant certifications to validate my expertise.
          About Me Section: Providing insights into my professional background, values, and aspirations.
          Contact Information: Making it easy for visitors to reach out and connect.
      </p>
      <p>Link <a href="https://github.com/mangeshkadus/myportfoliopage" target="_blank">Github Code Url</a></p>
    </div>

    <div class="project">
      <h3>Project 2</h3>
      <h3> Society Maintenance App: Streamlining Community Management with Angular and Node.js</h3>
      <p>Key Features:</p>
      <p>The Society Maintenance App, built with Angular and Node.js, offers a user-friendly platform for residents and administrators to manage community affairs efficiently. Residents can easily submit service requests, make payments, and stay updated on community announcements. Administrators benefit from
        robust backend functionalities for user management, financial transactions,
        and communication. With features like secure authentication, payment integration, and reporting tools, the app
        ensures smooth operations and fosters community engagement.</p>
      <p><a href="https://github.com/mangeshkadus/Society" target="_blank"> Frontend Github Code Url</a></p>
      <p><a href="https://github.com/mangeshkadus/SocietyBackend" target="_blank"> Backend Github Code Url</a></p>
    </div>

    <!-- Add more projects as needed -->
  </div>
</div>
