<!-- home.component.html -->

<div class="homeMain">
  <h2>Welcome to My Website</h2>
  <p class="subtext">
    Welcome to our frontend development hub tailored specifically for Angular developers! Whether you're a seasoned professional or just getting started with Angular, this platform is designed to be your go-to resource for all things related to Angular frontend development. From comprehensive tutorials and in-depth guides to insightful articles and cutting-edge best practices, our aim is to empower you with the knowledge and tools needed to build beautiful and robust web applications using Angular. Dive into our curated content, stay updated with the latest trends and advancements in the Angular ecosystem, and join our vibrant community of developers to collaborate, learn, and grow together. Let's embark on a journey to master Angular and craft exceptional user experiences
  </p>
  <p class="scrollIt">Scroll a little bit ...</p>
  <div class="landing-container" #landingContainer>
    <div class="landing-content">
      <h1>Welcome to Our Website</h1>
      <p>We offer innovative solutions for your business needs.</p>
    </div>
  </div>
  <div class="intro">
    <h1> {{intro}} <p>{{position}}</p></h1>
  </div>

</div>
